In [9]:
import pandas as pd

file_path = '품목_소매가_전부_갱신.csv'
data = pd.read_csv(file_path,encoding='cp949')
data=data[data['품목']=='새송이버섯']

In [272]:
data.columns = data.columns.str.strip()

data['구분'] = pd.to_datetime(data['구분'], errors='coerce')
data = data.sort_values('구분').reset_index(drop=True)

full_date_range = pd.date_range(start=data['구분'].min(), end=data['구분'].max())

data = data.set_index('구분').reindex(full_date_range).rename_axis('구분').reset_index()

data[['평균', '전통시장', '유통업체']] = data[['평균', '전통시장', '유통업체']].fillna(method='ffill')

display(data)

C:\Users\user\AppData\Local\Temp\ipykernel_8232\4002379359.py:15: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data[['평균', '전통시장', '유통업체']] = data[['평균', '전통시장', '유통업체']].fillna(method='ffill')

             구분     평균   전통시장   유통업체
0    2014-01-02  1,502  1,485  1,512
1    2014-01-03  1,502  1,485  1,512
2    2014-01-04  1,502  1,485  1,512
3    2014-01-05  1,502  1,485  1,512
4    2014-01-06  1,490  1,485  1,492
...         ...    ...    ...    ...
3945 2024-10-21  2,175  2,062  2,228
3946 2024-10-22  2,230  2,063  2,309
3947 2024-10-23  2,261  2,064  2,353
3948 2024-10-24  2,324  2,068  2,445
3949 2024-10-25  2,361  2,108  2,480

[3950 rows x 4 columns]

In [273]:
data.to_csv("애호박_상품_1개_일별소매가.csv", index = False, encoding='cp949')

In [276]:
import pandas as pd

file_path = '쌀_상품_일별소매가.xlsx'
data = pd.read_excel(file_path)

data.head()

FileNotFoundError: [Errno 2] No such file or directory: '쌀_상품_일별소매가.xlsx'

In [21]:
data.columns

Index(['구분 ', '평균', '전통시장', '유통업체'], dtype='object')

In [23]:
data['구분 '] = pd.to_datetime(data['구분 '], errors='coerce')
data = data.sort_values('구분 ').reset_index(drop=True)

full_date_range = pd.date_range(start=data['구분 '].min(), end=data['구분 '].max())

data = data.set_index('구분 ').reindex(full_date_range).rename_axis('구분 ').reset_index()

data[['평균', '전통시장', '유통업체']] = data[['평균', '전통시장', '유통업체']].fillna(method='ffill')

data.head(10)

C:\Users\user\AppData\Local\Temp\ipykernel_4980\3235091883.py:12: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data[['평균', '전통시장', '유통업체']] = data[['평균', '전통시장', '유통업체']].fillna(method='ffill')

         구분       평균    전통시장    유통업체
0 2014-01-02  46,082  47,907  45,060
1 2014-01-03  45,964  47,907  44,876
2 2014-01-04  45,964  47,907  44,876
3 2014-01-05  45,964  47,907  44,876
4 2014-01-06  45,964  47,907  44,876
5 2014-01-07  45,964  47,907  44,876
6 2014-01-08  46,118  47,907  45,116
7 2014-01-09  46,554  47,907  45,796
8 2014-01-10  46,554  47,907  45,796
9 2014-01-11  46,554  47,907  45,796

In [25]:
# Rename the columns to remove any extra spaces
data.columns = data.columns.str.strip()

# Repeat the previous steps with the corrected column name
data['구분'] = pd.to_datetime(data['구분'], errors='coerce')
data = data.sort_values('구분').reset_index(drop=True)

# Create a full date range from the minimum to the maximum date in the data
full_date_range = pd.date_range(start=data['구분'].min(), end=data['구분'].max())

# Reindex the data to include the full date range, filling missing dates with NaN
data = data.set_index('구분').reindex(full_date_range).rename_axis('구분').reset_index()

# Fill missing prices with the most recent available price data
data[['평균', '전통시장', '유통업체']] = data[['평균', '전통시장', '유통업체']].fillna(method='ffill')

# Show the processed data
display(data)

C:\Users\user\AppData\Local\Temp\ipykernel_4980\4002379359.py:15: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data[['평균', '전통시장', '유통업체']] = data[['평균', '전통시장', '유통업체']].fillna(method='ffill')

             구분      평균    전통시장    유통업체
0    2014-01-02  46,082  47,907  45,060
1    2014-01-03  45,964  47,907  44,876
2    2014-01-04  45,964  47,907  44,876
3    2014-01-05  45,964  47,907  44,876
4    2014-01-06  45,964  47,907  44,876
...         ...     ...     ...     ...
3945 2024-10-21  52,330  54,278  51,119
3946 2024-10-22  52,268  54,126  51,114
3947 2024-10-23  52,398  54,017  51,392
3948 2024-10-24  52,308  53,696  51,446
3949 2024-10-25  52,323  53,678  51,481

[3950 rows x 4 columns]

In [27]:
data.to_csv("쌀_상품_일별소매가.csv", index = False, encoding='cp949')