In [31]:
import pandas as pd

In [32]:
df_gdp = pd.read_excel('C:\\Users\\acorn\\Desktop\\경제활동별 GDP 및 GNI(계절조정, 실질, 분기)_2010Q1_2024Q3.xlsx')
df_gdp

,계정항목,단위,변환,2010/Q1,2010/Q2,2010/Q3,2010/Q4,2011/Q1,2011/Q2,2011/Q3,...,2022/Q2,2022/Q3,2022/Q4,2023/Q1,2023/Q2,2023/Q3,2023/Q4,2024/Q1,2024/Q2,2024/Q3
0,농림어업,십억원,원자료,8634.6,8406.9,8371.1,8083.4,8067.7,8342.3,8162.5,...,8347.7,8445.1,8536.1,8244.8,8455.3,8448.6,7823.7,7966.5,8317.8,8596.8
1,전기업,십억원,원자료,4570.1,4564.9,4644.1,4449.1,4476.9,4605.0,4748.7,...,7154.7,7310.2,7134.9,7412.8,7080.2,6854.2,7806.5,7475.5,7601.3,NaN
2,"가스, 증기 및 공기조절 공급업",십억원,원자료,1481.0,1508.9,1468.9,1530.5,1550.1,1520.5,1533.8,...,1587.6,1536.5,1531.2,1350.3,1366.7,1548.3,1641.5,1472.1,1492.6,NaN
3,"국내총생산(시장가격, GDP)",십억원,원자료,386238.5,392479.0,396469.6,402066.0,405904.8,407666.7,409552.3,...,553684.8,555841.5,553328.9,555761.1,558825.9,563035.7,565597.6,572951.0,571646.7,572413.3
4,국내총소득(GDI),십억원,원자료,380961.6,388052.2,392182.0,394306.1,389824.3,392843.8,395593.7,...,530389.3,524529.3,525418.1,530066.1,530272.7,542888.1,548592.9,561614.6,555058.6,557625.3
5,국민총소득(GNI),십억원,원자료,382709.9,389450.1,393838.3,391958.1,390403.3,394970.0,399331.6,...,536078.6,531905.6,534119.0,544420.1,539754.6,551251.4,554460.7,567524.2,559480.7,NaN

In [33]:
df_gdp_trans = df_gdp.transpose()
df_gdp_trans

,0,1,2,3,4,5
계정항목,농림어업,전기업,"가스, 증기 및 공기조절 공급업","국내총생산(시장가격, GDP)",국내총소득(GDI),국민총소득(GNI)
단위,십억원,십억원,십억원,십억원,십억원,십억원
변환,원자료,원자료,원자료,원자료,원자료,원자료
2010/Q1,8634.6,4570.1,1481.0,386238.5,380961.6,382709.9
2010/Q2,8406.9,4564.9,1508.9,392479.0,388052.2,389450.1
...,...,...,...,...,...,...
2023/Q3,8448.6,6854.2,1548.3,563035.7,542888.1,551251.4
2023/Q4,7823.7,7806.5,1641.5,565597.6,548592.9,554460.7
2024/Q1,7966.5,7475.5,1472.1,572951.0,561614.6,567524.2
2024/Q2,8317.8,7601.3,1492.6,571646.7,555058.6,559480.7
2024/Q3,8596.8,NaN,NaN,572413.3,557625.3,NaN

In [34]:
df_earn = df_gdp_trans[[0, 3, 4, 5]]
df_earn

              0                 3           4           5
계정항목       농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
단위         십억원               십억원         십억원         십억원
변환          원자료               원자료         원자료         원자료
2010/Q1  8634.6          386238.5    380961.6    382709.9
2010/Q2  8406.9          392479.0    388052.2    389450.1
...         ...               ...         ...         ...
2023/Q3  8448.6          563035.7    542888.1    551251.4
2023/Q4  7823.7          565597.6    548592.9    554460.7
2024/Q1  7966.5          572951.0    561614.6    567524.2
2024/Q2  8317.8          571646.7    555058.6    559480.7
2024/Q3  8596.8          572413.3    557625.3         NaN

[62 rows x 4 columns]

In [35]:
df_earn.columns = ['농림어업', '국내총생산(시장가격, GDP)', '국내총소득(GDI)', '국민총소득(GNI)']

In [36]:
df_earn

           농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
계정항목       농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
단위         십억원               십억원         십억원         십억원
변환          원자료               원자료         원자료         원자료
2010/Q1  8634.6          386238.5    380961.6    382709.9
2010/Q2  8406.9          392479.0    388052.2    389450.1
...         ...               ...         ...         ...
2023/Q3  8448.6          563035.7    542888.1    551251.4
2023/Q4  7823.7          565597.6    548592.9    554460.7
2024/Q1  7966.5          572951.0    561614.6    567524.2
2024/Q2  8317.8          571646.7    555058.6    559480.7
2024/Q3  8596.8          572413.3    557625.3         NaN

[62 rows x 4 columns]

In [37]:
df_earn_from2014 = df_earn.iloc[19:]
df_earn_from2014

           농림어업 국내총생산(시장가격, GDP) 국내총소득(GDI) 국민총소득(GNI)
2014/Q1  8770.1         442669.9   431020.4   430785.6
2014/Q2  8952.7         446872.4   436924.3   439978.9
2014/Q3  9107.3         448023.5   436473.5   438397.8
2014/Q4  9298.0         450409.2   442736.9   446268.0
2015/Q1  9388.0         454302.8   458630.3   463443.4
2015/Q2  8698.0         456256.6   463125.3   463039.3
2015/Q3  9101.5         463025.5   469205.6   470377.7
2015/Q4  8848.8         466604.0   473552.7   473361.8
2016/Q1  8594.9         468389.8   484991.1   486425.0
2016/Q2  8375.3         474262.9   487576.0   490584.1
2016/Q3  8373.7         476110.0   486135.9   487770.1
2016/Q4  8322.1         479788.4   491037.7   491722.4
2017/Q1  8174.6         485158.6   498294.6   499791.8
2017/Q2  8629.8         488738.1   500568.2   501182.2
2017/Q3  8660.2         495481.4   509851.3   512867.9
2017/Q4  8622.1         494353.9   503288.7   505881.5
2018/Q1  8502.5         501537.0   514389.2   516476.9
2018/Q2  8602.1         505472.9   513240.4   514785.3
2018/Q3  8290.7         508102.0   513363.0   515307.0
2018/Q4  8427.5         510990.4   510386.3   512562.1
2019/Q1  8776.9         511286.6   515681.1   516537.2
2019/Q2  8821.8         518083.3   513477.4   516957.4
2019/Q3  8744.0         519196.8   512326.6   519579.9
2019/Q4  8465.9         524415.7   514351.4   519282.5
2020/Q1  8316.0         517669.6   514636.8   519147.4
2020/Q2  8098.4         503484.6   504542.3   507723.0
2020/Q3  7944.7         514605.8   516213.8   519342.0
2020/Q4  8122.6         522706.6   523073.7   529197.8
2021/Q1  8499.2         530771.1   533679.5   537570.1
2021/Q2  8022.4         537903.8   533149.1   543205.2
2021/Q3  8488.8         538085.7   531914.9   534781.6
2021/Q4  8588.2         546662.2   533059.3   538799.7
2022/Q1  8537.4         549303.7   537198.8   541004.2
2022/Q2  8347.7         553684.8   530389.3   536078.6
2022/Q3  8445.1         555841.5   524529.3   531905.6
2022/Q4  8536.1         553328.9   525418.1   534119.0
2023/Q1  8244.8         555761.1   530066.1   544420.1
2023/Q2  8455.3         558825.9   530272.7   539754.6
2023/Q3  8448.6         563035.7   542888.1   551251.4
2023/Q4  7823.7         565597.6   548592.9   554460.7
2024/Q1  7966.5         572951.0   561614.6   567524.2
2024/Q2  8317.8         571646.7   555058.6   559480.7
2024/Q3  8596.8         572413.3   557625.3        NaN

In [38]:
df_earn_from2014_numeric = df_earn_from2014.applymap(pd.to_numeric, errors='coerce')
df_earn_from2014_numeric

C:\Users\acorn\AppData\Local\Temp\ipykernel_12688\1085580412.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_earn_from2014_numeric = df_earn_from2014.applymap(pd.to_numeric, errors='coerce')

           농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
2014/Q1  8770.1          442669.9    431020.4    430785.6
2014/Q2  8952.7          446872.4    436924.3    439978.9
2014/Q3  9107.3          448023.5    436473.5    438397.8
2014/Q4  9298.0          450409.2    442736.9    446268.0
2015/Q1  9388.0          454302.8    458630.3    463443.4
2015/Q2  8698.0          456256.6    463125.3    463039.3
2015/Q3  9101.5          463025.5    469205.6    470377.7
2015/Q4  8848.8          466604.0    473552.7    473361.8
2016/Q1  8594.9          468389.8    484991.1    486425.0
2016/Q2  8375.3          474262.9    487576.0    490584.1
2016/Q3  8373.7          476110.0    486135.9    487770.1
2016/Q4  8322.1          479788.4    491037.7    491722.4
2017/Q1  8174.6          485158.6    498294.6    499791.8
2017/Q2  8629.8          488738.1    500568.2    501182.2
2017/Q3  8660.2          495481.4    509851.3    512867.9
2017/Q4  8622.1          494353.9    503288.7    505881.5
2018/Q1  8502.5          501537.0    514389.2    516476.9
2018/Q2  8602.1          505472.9    513240.4    514785.3
2018/Q3  8290.7          508102.0    513363.0    515307.0
2018/Q4  8427.5          510990.4    510386.3    512562.1
2019/Q1  8776.9          511286.6    515681.1    516537.2
2019/Q2  8821.8          518083.3    513477.4    516957.4
2019/Q3  8744.0          519196.8    512326.6    519579.9
2019/Q4  8465.9          524415.7    514351.4    519282.5
2020/Q1  8316.0          517669.6    514636.8    519147.4
2020/Q2  8098.4          503484.6    504542.3    507723.0
2020/Q3  7944.7          514605.8    516213.8    519342.0
2020/Q4  8122.6          522706.6    523073.7    529197.8
2021/Q1  8499.2          530771.1    533679.5    537570.1
2021/Q2  8022.4          537903.8    533149.1    543205.2
2021/Q3  8488.8          538085.7    531914.9    534781.6
2021/Q4  8588.2          546662.2    533059.3    538799.7
2022/Q1  8537.4          549303.7    537198.8    541004.2
2022/Q2  8347.7          553684.8    530389.3    536078.6
2022/Q3  8445.1          555841.5    524529.3    531905.6
2022/Q4  8536.1          553328.9    525418.1    534119.0
2023/Q1  8244.8          555761.1    530066.1    544420.1
2023/Q2  8455.3          558825.9    530272.7    539754.6
2023/Q3  8448.6          563035.7    542888.1    551251.4
2023/Q4  7823.7          565597.6    548592.9    554460.7
2024/Q1  7966.5          572951.0    561614.6    567524.2
2024/Q2  8317.8          571646.7    555058.6    559480.7
2024/Q3  8596.8          572413.3    557625.3         NaN

In [39]:
df_earn_from2014_numeric.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43 entries, 2014/Q1 to 2024/Q3
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   농림어업              43 non-null     float64
 1   국내총생산(시장가격, GDP)  43 non-null     float64
 2   국내총소득(GDI)        43 non-null     float64
 3   국민총소득(GNI)        42 non-null     float64
dtypes: float64(4)
memory usage: 1.7+ KB

In [40]:
df_earn_from2014_numeric.isnull()

          농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
2014/Q1  False             False       False       False
2014/Q2  False             False       False       False
2014/Q3  False             False       False       False
2014/Q4  False             False       False       False
2015/Q1  False             False       False       False
2015/Q2  False             False       False       False
2015/Q3  False             False       False       False
2015/Q4  False             False       False       False
2016/Q1  False             False       False       False
2016/Q2  False             False       False       False
2016/Q3  False             False       False       False
2016/Q4  False             False       False       False
2017/Q1  False             False       False       False
2017/Q2  False             False       False       False
2017/Q3  False             False       False       False
2017/Q4  False             False       False       False
2018/Q1  False             False       False       False
2018/Q2  False             False       False       False
2018/Q3  False             False       False       False
2018/Q4  False             False       False       False
2019/Q1  False             False       False       False
2019/Q2  False             False       False       False
2019/Q3  False             False       False       False
2019/Q4  False             False       False       False
2020/Q1  False             False       False       False
2020/Q2  False             False       False       False
2020/Q3  False             False       False       False
2020/Q4  False             False       False       False
2021/Q1  False             False       False       False
2021/Q2  False             False       False       False
2021/Q3  False             False       False       False
2021/Q4  False             False       False       False
2022/Q1  False             False       False       False
2022/Q2  False             False       False       False
2022/Q3  False             False       False       False
2022/Q4  False             False       False       False
2023/Q1  False             False       False       False
2023/Q2  False             False       False       False
2023/Q3  False             False       False       False
2023/Q4  False             False       False       False
2024/Q1  False             False       False       False
2024/Q2  False             False       False       False
2024/Q3  False             False       False        True

In [41]:
df_earn_from2014_numeric_10times = df_earn_from2014_numeric.applymap(lambda x: x * 10)
df_earn_from2014_numeric_10times

C:\Users\acorn\AppData\Local\Temp\ipykernel_12688\377672039.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_earn_from2014_numeric_10times = df_earn_from2014_numeric.applymap(lambda x: x * 10)

            농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
2014/Q1  87701.0         4426699.0   4310204.0   4307856.0
2014/Q2  89527.0         4468724.0   4369243.0   4399789.0
2014/Q3  91073.0         4480235.0   4364735.0   4383978.0
2014/Q4  92980.0         4504092.0   4427369.0   4462680.0
2015/Q1  93880.0         4543028.0   4586303.0   4634434.0
2015/Q2  86980.0         4562566.0   4631253.0   4630393.0
2015/Q3  91015.0         4630255.0   4692056.0   4703777.0
2015/Q4  88488.0         4666040.0   4735527.0   4733618.0
2016/Q1  85949.0         4683898.0   4849911.0   4864250.0
2016/Q2  83753.0         4742629.0   4875760.0   4905841.0
2016/Q3  83737.0         4761100.0   4861359.0   4877701.0
2016/Q4  83221.0         4797884.0   4910377.0   4917224.0
2017/Q1  81746.0         4851586.0   4982946.0   4997918.0
2017/Q2  86298.0         4887381.0   5005682.0   5011822.0
2017/Q3  86602.0         4954814.0   5098513.0   5128679.0
2017/Q4  86221.0         4943539.0   5032887.0   5058815.0
2018/Q1  85025.0         5015370.0   5143892.0   5164769.0
2018/Q2  86021.0         5054729.0   5132404.0   5147853.0
2018/Q3  82907.0         5081020.0   5133630.0   5153070.0
2018/Q4  84275.0         5109904.0   5103863.0   5125621.0
2019/Q1  87769.0         5112866.0   5156811.0   5165372.0
2019/Q2  88218.0         5180833.0   5134774.0   5169574.0
2019/Q3  87440.0         5191968.0   5123266.0   5195799.0
2019/Q4  84659.0         5244157.0   5143514.0   5192825.0
2020/Q1  83160.0         5176696.0   5146368.0   5191474.0
2020/Q2  80984.0         5034846.0   5045423.0   5077230.0
2020/Q3  79447.0         5146058.0   5162138.0   5193420.0
2020/Q4  81226.0         5227066.0   5230737.0   5291978.0
2021/Q1  84992.0         5307711.0   5336795.0   5375701.0
2021/Q2  80224.0         5379038.0   5331491.0   5432052.0
2021/Q3  84888.0         5380857.0   5319149.0   5347816.0
2021/Q4  85882.0         5466622.0   5330593.0   5387997.0
2022/Q1  85374.0         5493037.0   5371988.0   5410042.0
2022/Q2  83477.0         5536848.0   5303893.0   5360786.0
2022/Q3  84451.0         5558415.0   5245293.0   5319056.0
2022/Q4  85361.0         5533289.0   5254181.0   5341190.0
2023/Q1  82448.0         5557611.0   5300661.0   5444201.0
2023/Q2  84553.0         5588259.0   5302727.0   5397546.0
2023/Q3  84486.0         5630357.0   5428881.0   5512514.0
2023/Q4  78237.0         5655976.0   5485929.0   5544607.0
2024/Q1  79665.0         5729510.0   5616146.0   5675242.0
2024/Q2  83178.0         5716467.0   5550586.0   5594807.0
2024/Q3  85968.0         5724133.0   5576253.0         NaN

In [42]:
df_earn_from2014_numeric_10times = df_earn_from2014_numeric_10times.fillna(0)
df_earn_from2014_numeric_10times

            농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
2014/Q1  87701.0         4426699.0   4310204.0   4307856.0
2014/Q2  89527.0         4468724.0   4369243.0   4399789.0
2014/Q3  91073.0         4480235.0   4364735.0   4383978.0
2014/Q4  92980.0         4504092.0   4427369.0   4462680.0
2015/Q1  93880.0         4543028.0   4586303.0   4634434.0
2015/Q2  86980.0         4562566.0   4631253.0   4630393.0
2015/Q3  91015.0         4630255.0   4692056.0   4703777.0
2015/Q4  88488.0         4666040.0   4735527.0   4733618.0
2016/Q1  85949.0         4683898.0   4849911.0   4864250.0
2016/Q2  83753.0         4742629.0   4875760.0   4905841.0
2016/Q3  83737.0         4761100.0   4861359.0   4877701.0
2016/Q4  83221.0         4797884.0   4910377.0   4917224.0
2017/Q1  81746.0         4851586.0   4982946.0   4997918.0
2017/Q2  86298.0         4887381.0   5005682.0   5011822.0
2017/Q3  86602.0         4954814.0   5098513.0   5128679.0
2017/Q4  86221.0         4943539.0   5032887.0   5058815.0
2018/Q1  85025.0         5015370.0   5143892.0   5164769.0
2018/Q2  86021.0         5054729.0   5132404.0   5147853.0
2018/Q3  82907.0         5081020.0   5133630.0   5153070.0
2018/Q4  84275.0         5109904.0   5103863.0   5125621.0
2019/Q1  87769.0         5112866.0   5156811.0   5165372.0
2019/Q2  88218.0         5180833.0   5134774.0   5169574.0
2019/Q3  87440.0         5191968.0   5123266.0   5195799.0
2019/Q4  84659.0         5244157.0   5143514.0   5192825.0
2020/Q1  83160.0         5176696.0   5146368.0   5191474.0
2020/Q2  80984.0         5034846.0   5045423.0   5077230.0
2020/Q3  79447.0         5146058.0   5162138.0   5193420.0
2020/Q4  81226.0         5227066.0   5230737.0   5291978.0
2021/Q1  84992.0         5307711.0   5336795.0   5375701.0
2021/Q2  80224.0         5379038.0   5331491.0   5432052.0
2021/Q3  84888.0         5380857.0   5319149.0   5347816.0
2021/Q4  85882.0         5466622.0   5330593.0   5387997.0
2022/Q1  85374.0         5493037.0   5371988.0   5410042.0
2022/Q2  83477.0         5536848.0   5303893.0   5360786.0
2022/Q3  84451.0         5558415.0   5245293.0   5319056.0
2022/Q4  85361.0         5533289.0   5254181.0   5341190.0
2023/Q1  82448.0         5557611.0   5300661.0   5444201.0
2023/Q2  84553.0         5588259.0   5302727.0   5397546.0
2023/Q3  84486.0         5630357.0   5428881.0   5512514.0
2023/Q4  78237.0         5655976.0   5485929.0   5544607.0
2024/Q1  79665.0         5729510.0   5616146.0   5675242.0
2024/Q2  83178.0         5716467.0   5550586.0   5594807.0
2024/Q3  85968.0         5724133.0   5576253.0         0.0

In [43]:
df_earn_from2014_numeric_10times = df_earn_from2014_numeric_10times.astype('float').astype('int')
df_earn_from2014_numeric_10times

          농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
2014/Q1  87701           4426699     4310204     4307856
2014/Q2  89527           4468724     4369243     4399789
2014/Q3  91073           4480235     4364735     4383978
2014/Q4  92980           4504092     4427369     4462680
2015/Q1  93880           4543028     4586303     4634434
2015/Q2  86980           4562566     4631253     4630393
2015/Q3  91015           4630255     4692056     4703777
2015/Q4  88488           4666040     4735527     4733618
2016/Q1  85949           4683898     4849911     4864250
2016/Q2  83753           4742629     4875760     4905841
2016/Q3  83737           4761100     4861359     4877701
2016/Q4  83221           4797884     4910377     4917224
2017/Q1  81746           4851586     4982946     4997918
2017/Q2  86298           4887381     5005682     5011822
2017/Q3  86602           4954814     5098513     5128679
2017/Q4  86221           4943539     5032887     5058815
2018/Q1  85025           5015370     5143892     5164769
2018/Q2  86021           5054729     5132404     5147853
2018/Q3  82907           5081020     5133630     5153070
2018/Q4  84275           5109904     5103863     5125621
2019/Q1  87769           5112866     5156811     5165372
2019/Q2  88218           5180833     5134774     5169574
2019/Q3  87440           5191968     5123266     5195799
2019/Q4  84659           5244157     5143514     5192825
2020/Q1  83160           5176696     5146368     5191474
2020/Q2  80984           5034846     5045423     5077230
2020/Q3  79447           5146058     5162138     5193420
2020/Q4  81226           5227066     5230737     5291978
2021/Q1  84992           5307711     5336795     5375701
2021/Q2  80224           5379038     5331491     5432052
2021/Q3  84888           5380857     5319149     5347816
2021/Q4  85882           5466622     5330593     5387997
2022/Q1  85374           5493037     5371988     5410042
2022/Q2  83477           5536848     5303893     5360786
2022/Q3  84451           5558415     5245293     5319056
2022/Q4  85361           5533289     5254181     5341190
2023/Q1  82448           5557611     5300661     5444201
2023/Q2  84553           5588259     5302727     5397546
2023/Q3  84486           5630357     5428881     5512514
2023/Q4  78237           5655976     5485929     5544607
2024/Q1  79665           5729510     5616146     5675242
2024/Q2  83178           5716467     5550586     5594807
2024/Q3  85968           5724133     5576253           0

In [44]:
df = df_earn_from2014_numeric_10times
df

          농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
2014/Q1  87701           4426699     4310204     4307856
2014/Q2  89527           4468724     4369243     4399789
2014/Q3  91073           4480235     4364735     4383978
2014/Q4  92980           4504092     4427369     4462680
2015/Q1  93880           4543028     4586303     4634434
2015/Q2  86980           4562566     4631253     4630393
2015/Q3  91015           4630255     4692056     4703777
2015/Q4  88488           4666040     4735527     4733618
2016/Q1  85949           4683898     4849911     4864250
2016/Q2  83753           4742629     4875760     4905841
2016/Q3  83737           4761100     4861359     4877701
2016/Q4  83221           4797884     4910377     4917224
2017/Q1  81746           4851586     4982946     4997918
2017/Q2  86298           4887381     5005682     5011822
2017/Q3  86602           4954814     5098513     5128679
2017/Q4  86221           4943539     5032887     5058815
2018/Q1  85025           5015370     5143892     5164769
2018/Q2  86021           5054729     5132404     5147853
2018/Q3  82907           5081020     5133630     5153070
2018/Q4  84275           5109904     5103863     5125621
2019/Q1  87769           5112866     5156811     5165372
2019/Q2  88218           5180833     5134774     5169574
2019/Q3  87440           5191968     5123266     5195799
2019/Q4  84659           5244157     5143514     5192825
2020/Q1  83160           5176696     5146368     5191474
2020/Q2  80984           5034846     5045423     5077230
2020/Q3  79447           5146058     5162138     5193420
2020/Q4  81226           5227066     5230737     5291978
2021/Q1  84992           5307711     5336795     5375701
2021/Q2  80224           5379038     5331491     5432052
2021/Q3  84888           5380857     5319149     5347816
2021/Q4  85882           5466622     5330593     5387997
2022/Q1  85374           5493037     5371988     5410042
2022/Q2  83477           5536848     5303893     5360786
2022/Q3  84451           5558415     5245293     5319056
2022/Q4  85361           5533289     5254181     5341190
2023/Q1  82448           5557611     5300661     5444201
2023/Q2  84553           5588259     5302727     5397546
2023/Q3  84486           5630357     5428881     5512514
2023/Q4  78237           5655976     5485929     5544607
2024/Q1  79665           5729510     5616146     5675242
2024/Q2  83178           5716467     5550586     5594807
2024/Q3  85968           5724133     5576253           0

In [45]:
df = df.reset_index()
df

      index   농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
0   2014/Q1  87701           4426699     4310204     4307856
1   2014/Q2  89527           4468724     4369243     4399789
2   2014/Q3  91073           4480235     4364735     4383978
3   2014/Q4  92980           4504092     4427369     4462680
4   2015/Q1  93880           4543028     4586303     4634434
5   2015/Q2  86980           4562566     4631253     4630393
6   2015/Q3  91015           4630255     4692056     4703777
7   2015/Q4  88488           4666040     4735527     4733618
8   2016/Q1  85949           4683898     4849911     4864250
9   2016/Q2  83753           4742629     4875760     4905841
10  2016/Q3  83737           4761100     4861359     4877701
11  2016/Q4  83221           4797884     4910377     4917224
12  2017/Q1  81746           4851586     4982946     4997918
13  2017/Q2  86298           4887381     5005682     5011822
14  2017/Q3  86602           4954814     5098513     5128679
15  2017/Q4  86221           4943539     5032887     5058815
16  2018/Q1  85025           5015370     5143892     5164769
17  2018/Q2  86021           5054729     5132404     5147853
18  2018/Q3  82907           5081020     5133630     5153070
19  2018/Q4  84275           5109904     5103863     5125621
20  2019/Q1  87769           5112866     5156811     5165372
21  2019/Q2  88218           5180833     5134774     5169574
22  2019/Q3  87440           5191968     5123266     5195799
23  2019/Q4  84659           5244157     5143514     5192825
24  2020/Q1  83160           5176696     5146368     5191474
25  2020/Q2  80984           5034846     5045423     5077230
26  2020/Q3  79447           5146058     5162138     5193420
27  2020/Q4  81226           5227066     5230737     5291978
28  2021/Q1  84992           5307711     5336795     5375701
29  2021/Q2  80224           5379038     5331491     5432052
30  2021/Q3  84888           5380857     5319149     5347816
31  2021/Q4  85882           5466622     5330593     5387997
32  2022/Q1  85374           5493037     5371988     5410042
33  2022/Q2  83477           5536848     5303893     5360786
34  2022/Q3  84451           5558415     5245293     5319056
35  2022/Q4  85361           5533289     5254181     5341190
36  2023/Q1  82448           5557611     5300661     5444201
37  2023/Q2  84553           5588259     5302727     5397546
38  2023/Q3  84486           5630357     5428881     5512514
39  2023/Q4  78237           5655976     5485929     5544607
40  2024/Q1  79665           5729510     5616146     5675242
41  2024/Q2  83178           5716467     5550586     5594807
42  2024/Q3  85968           5724133     5576253           0

In [46]:
df = df.rename(columns={'index':'기간'})
df

         기간   농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
0   2014/Q1  87701           4426699     4310204     4307856
1   2014/Q2  89527           4468724     4369243     4399789
2   2014/Q3  91073           4480235     4364735     4383978
3   2014/Q4  92980           4504092     4427369     4462680
4   2015/Q1  93880           4543028     4586303     4634434
5   2015/Q2  86980           4562566     4631253     4630393
6   2015/Q3  91015           4630255     4692056     4703777
7   2015/Q4  88488           4666040     4735527     4733618
8   2016/Q1  85949           4683898     4849911     4864250
9   2016/Q2  83753           4742629     4875760     4905841
10  2016/Q3  83737           4761100     4861359     4877701
11  2016/Q4  83221           4797884     4910377     4917224
12  2017/Q1  81746           4851586     4982946     4997918
13  2017/Q2  86298           4887381     5005682     5011822
14  2017/Q3  86602           4954814     5098513     5128679
15  2017/Q4  86221           4943539     5032887     5058815
16  2018/Q1  85025           5015370     5143892     5164769
17  2018/Q2  86021           5054729     5132404     5147853
18  2018/Q3  82907           5081020     5133630     5153070
19  2018/Q4  84275           5109904     5103863     5125621
20  2019/Q1  87769           5112866     5156811     5165372
21  2019/Q2  88218           5180833     5134774     5169574
22  2019/Q3  87440           5191968     5123266     5195799
23  2019/Q4  84659           5244157     5143514     5192825
24  2020/Q1  83160           5176696     5146368     5191474
25  2020/Q2  80984           5034846     5045423     5077230
26  2020/Q3  79447           5146058     5162138     5193420
27  2020/Q4  81226           5227066     5230737     5291978
28  2021/Q1  84992           5307711     5336795     5375701
29  2021/Q2  80224           5379038     5331491     5432052
30  2021/Q3  84888           5380857     5319149     5347816
31  2021/Q4  85882           5466622     5330593     5387997
32  2022/Q1  85374           5493037     5371988     5410042
33  2022/Q2  83477           5536848     5303893     5360786
34  2022/Q3  84451           5558415     5245293     5319056
35  2022/Q4  85361           5533289     5254181     5341190
36  2023/Q1  82448           5557611     5300661     5444201
37  2023/Q2  84553           5588259     5302727     5397546
38  2023/Q3  84486           5630357     5428881     5512514
39  2023/Q4  78237           5655976     5485929     5544607
40  2024/Q1  79665           5729510     5616146     5675242
41  2024/Q2  83178           5716467     5550586     5594807
42  2024/Q3  85968           5724133     5576253           0

In [47]:
# 날짜 범위 생성 (2014년 1월 1일부터 2024년 10월 31일까지)
dates = pd.date_range(start='2014-01-01', end='2024-10-31', freq='D')

# 빈 데이터프레임 생성 (일별 날짜 인덱스)
df_full = pd.DataFrame(index=dates)

# 분기별 데이터를 일별로 나누기 위한 함수
def fill_quarter_data(row):
    # 분기 시작일과 종료일 계산
    start_date = pd.to_datetime(row['기간'].split('/')[0] + '-' + row['기간'].split('/')[1].replace('Q', ''))
    end_date = start_date + pd.DateOffset(months=3) - pd.Timedelta(days=1)
    
    # 분기 내에 속하는 날짜들
    quarter_dates = pd.date_range(start=start_date, end=end_date, freq='D')
    
    # 일별로 값을 채워넣음
    for date in quarter_dates:
        df_full.loc[date, '농림어업'] = row['농림어업']
        df_full.loc[date, '국내총생산(시장가격, GDP)'] = row['국내총생산(시장가격, GDP)']
        df_full.loc[date, '국내총소득(GDI)'] = row['국내총소득(GDI)']
        df_full.loc[date, '국민총소득(GNI)'] = row['국민총소득(GNI)']

# 각 분기 데이터를 일별로 변환
df.apply(fill_quarter_data, axis=1)

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
dtype: object

In [48]:
df_full

               농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
2014-01-01  87701.0         4426699.0   4310204.0   4307856.0
2014-01-02  87701.0         4426699.0   4310204.0   4307856.0
2014-01-03  87701.0         4426699.0   4310204.0   4307856.0
2014-01-04  87701.0         4426699.0   4310204.0   4307856.0
2014-01-05  87701.0         4426699.0   4310204.0   4307856.0
...             ...               ...         ...         ...
2024-10-27      NaN               NaN         NaN         NaN
2024-10-28      NaN               NaN         NaN         NaN
2024-10-29      NaN               NaN         NaN         NaN
2024-10-30      NaN               NaN         NaN         NaN
2024-10-31      NaN               NaN         NaN         NaN

[3957 rows x 4 columns]

In [49]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3957 entries, 2014-01-01 to 2024-10-31
Freq: D
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   농림어업              1964 non-null   float64
 1   국내총생산(시장가격, GDP)  1964 non-null   float64
 2   국내총소득(GDI)        1964 non-null   float64
 3   국민총소득(GNI)        1964 non-null   float64
dtypes: float64(4)
memory usage: 283.6 KB

In [50]:
df_full = df_full.reset_index()

In [51]:
df_full

          index     농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
0    2014-01-01  87701.0         4426699.0   4310204.0   4307856.0
1    2014-01-02  87701.0         4426699.0   4310204.0   4307856.0
2    2014-01-03  87701.0         4426699.0   4310204.0   4307856.0
3    2014-01-04  87701.0         4426699.0   4310204.0   4307856.0
4    2014-01-05  87701.0         4426699.0   4310204.0   4307856.0
...         ...      ...               ...         ...         ...
3952 2024-10-27      NaN               NaN         NaN         NaN
3953 2024-10-28      NaN               NaN         NaN         NaN
3954 2024-10-29      NaN               NaN         NaN         NaN
3955 2024-10-30      NaN               NaN         NaN         NaN
3956 2024-10-31      NaN               NaN         NaN         NaN

[3957 rows x 5 columns]

In [52]:
df_full = df_full.rename(columns={'index':'날짜'})
df_full

             날짜     농림어업  국내총생산(시장가격, GDP)  국내총소득(GDI)  국민총소득(GNI)
0    2014-01-01  87701.0         4426699.0   4310204.0   4307856.0
1    2014-01-02  87701.0         4426699.0   4310204.0   4307856.0
2    2014-01-03  87701.0         4426699.0   4310204.0   4307856.0
3    2014-01-04  87701.0         4426699.0   4310204.0   4307856.0
4    2014-01-05  87701.0         4426699.0   4310204.0   4307856.0
...         ...      ...               ...         ...         ...
3952 2024-10-27      NaN               NaN         NaN         NaN
3953 2024-10-28      NaN               NaN         NaN         NaN
3954 2024-10-29      NaN               NaN         NaN         NaN
3955 2024-10-30      NaN               NaN         NaN         NaN
3956 2024-10-31      NaN               NaN         NaN         NaN

[3957 rows x 5 columns]

In [55]:
df_full['국내총생산(시장가격, GDP)(억원)'] = df_full['국내총생산(시장가격, GDP)']

In [57]:
df = df_full[['날짜', '국내총생산(시장가격, GDP)(억원)']]

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3957 entries, 0 to 3956
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   날짜                    3957 non-null   datetime64[ns]
 1   국내총생산(시장가격, GDP)(억원)  1964 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 62.0 KB

In [59]:
df.to_pickle("gdp.pkl")